<h2 class="text-center">Users list</h2>

<div class="form-outline">
  <input
    type="search"
    id="mysearch"
    class="form-control mb-3"
    placeholder="Search by email"
    [(ngModel)]="email"
  />
</div>
<div class="row row-cols-md-4 g-4">
  <!-- search -->

  <!-- //12 colmuns -->
  @for (user of users | filter:email ; track user.id; let i =$index) {
  <app-game-card
    [user]="user"
    (sendToparent)="recievedFromchild($event)"
  ></app-game-card>
  }@empty {  <p>Empty users list</p> }
</div>
