<div class="row align-self-center d-flex justify-content-center align-items-center" style="padding-right: 12px;">
    <div class="col-12 d-flex task-item align-self-center ">
        <div class="col-8 me-0 text-start">
            <input class=" me-3 ms-2 mt-5" type="checkbox" [(ngModel)]="task.completed" (checked)="completeTask()">
            <span [class.completed]="task.completed">{{ task.description }}</span>
        </div>
        <button class="col-4 mt-5 d-inline btn btn-danger" (click)="deleteTask()">Delete</button>
      </div>
</div>
  